/* src/app/escritorio/escritorio.module.css */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  padding: 2rem 1.5rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: #0f0f0f; /* preto mais elegante */
  border-top: 4px solid #DBCA82;
  animation: fadeInUp 0.8s ease forwards;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: #DBCA82;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  text-decoration: underline;
}

.grid {
  display: grid;
  gap: 3rem;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 2.75rem;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.125rem;
  color: #d1d5db; /* gray-300 */
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  padding: 2rem;
  max-width: 95%;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.imageSection:hover {
  transform: translateY(-4px);
}

.image {
  border-radius: 1rem;
  object-fit: cover;
  margin-top: 1rem;
  width: 100%;
  height: 750px;
  max-height: 80vh;
  border: 4px solid transparent;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box,
              linear-gradient(135deg, #DBCA82, #ffffff22) border-box;
  box-shadow: 0 0 20px rgba(219, 202, 130, 0.2);
}

.description {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.125rem;
  color: #d1d5db; /* gray-300 */
  line-height: 1.6;
  max-width: 90%;
  font-weight: 400;
}