/* ./src/components/Footer.module.css */

.footer {
  background-color: #161615; /* Preto */
  color: #FFFFFF;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;;
  margin: 0 auto;
  max-height: 15px;
}

.copyright {
  font-size: 0.9rem;
  color: #a0a0a0; /* Cinza claro */
}

.socialLinks {
  display: flex;
  gap: 1.5rem;
}

.socialIcon {
  font-size: 1.5rem;
  color: #FFFFFF;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialIcon:hover {
  color: #DBCA82; /* Dourado */
  transform: scale(1.1);
}
